

alembic
bcrypt
blinker
certifi
charset-normalizer
click
colorama
configparser
decorator
distlib
filelock
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Mail
flask-marshmallow
Flask-Migrate
Flask-Script
stripe
google-auth
Flask-SQLAlchemy
Flask-Uploads
Flask-WTF
geographiclib
geopy
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
mysql-connector-python
mysqlclient
oauthlib
packaging
platformdirs
protobuf
PyJWT
python-dotenv
requests
requests-oauthlib
SQLAlchemy
tweepy
typing-extensions
urllib3
validators
virtualenv
Werkzeug
WTForms
firebase-admin
paypalrestsdk
# paypalhttp
sqlacodegen==2.3.0.post1